---
- name: Manage aws resources using Terraform
  hosts: all
  gather_facts: false
  vars:
    working_dir_name: "{{ input_tf_working_dir_name | default('provision_tf_resources') }}"
    tf_plan_file_name: "{{ input_tf_plan_file_name | default('provision_tf_resources.tf') }}"
    tf_vars_file_name: "{{ input_tf_vars_file_name | default('provision_tf_resources.auto.tfvars') }}"
    cloud_provider: "{{ input_cloud_provider | default('AWS') }}" 
#    aws_ami_id: "ami-0e6c4e94540d22db8"  # RHEL 9.7 private AMI
    aws_ami_id: "ami-0d40a6bf9d3bfc868"  # RHEL 9.7 public AMI
  tasks:

  - name: Make sure working directory exists
    ansible.builtin.file:
      path: /var/terraform/plans/{{ working_dir_name }}
      state: directory
      mode: '0755'

  - name: Copy the TF Plan
    ansible.builtin.template:
      src: "../TF_templates/{{ cloud_provider }}/{{ tf_plan_file_name }}.j2"
      dest: /var/terraform/plans/{{ working_dir_name }}/{{ tf_plan_file_name }}

  - name: Copy the TF Vars Template
    ansible.builtin.template:
      src: "../TF_templates/{{ cloud_provider }}/{{ tf_vars_file_name }}.j2"
      dest: /var/terraform/plans/{{ working_dir_name }}/{{ tf_vars_file_name }}

  - name: Create a new config version
    hashicorp.terraform.configuration_version:
      auto_queue_runs: false
      tf_hostname: "{{ tf_hostname }}"
      tf_validate_certs: false
      tf_token: "{{ tf_token }}"
      organization: "{{ tf_org }}"
      workspace: "{{ tf_workspace }}"
      state: present
      configuration_files_path: /var/terraform/plans/{{ working_dir_name }}

  - name: Create a new TF run and apply the changes
    hashicorp.terraform.run:
      tf_hostname: "{{ tf_hostname }}"
      tf_validate_certs: false
      tf_token: "{{ tf_token }}"
      organization: "{{ tf_org }}"
      workspace: "{{ tf_workspace }}"
      run_message: "New run to provision resources from Ansible"
      auto_apply: true
      poll_interval: 5
      poll_timeout: 360
      state: "present"
